@using SalesViwer.Client.ViewsModels
@model SalesViwer.Client.ViewsModels.AddOrderViewModel

<div asp-validation-summary="All" class="text-danger"></div>

@using (Html.BeginForm())
{
    <div hidden="true">
        @Html.EditorFor(m => m.ClientId)
    </div>
    <div>
        @Html.LabelFor(m => m.ItemName)
        @Html.EditorFor(m => m.ItemName)
    </div>
    <div>
        @Html.LabelFor(m => m.Price)
        @Html.EditorFor(m => m.Price)
    </div>
    <div>
        @Html.LabelFor(m => m.dateTimeOrder)
        @Html.EditorFor(m => m.dateTimeOrder)
    </div>
    <input asp-controller="Order" asp-action="Save" type="submit" value="Save" />
}
